[submodule "bundle/a.vim"]
	path = bundle/a.vim
	url = git://github.com/vim-scripts/a.vim.git
[submodule "bundle/AutoCompPop"]
	path = bundle/AutoCompPop
	url = git://github.com/vim-scripts/AutoComplPop.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/l9"]
	path = bundle/l9
	url = git://github.com/vim-scripts/L9.git
[submodule "bundle/matrix"]
	path = bundle/matrix
	url = git://github.com/vim-scripts/matrix.vim.git
[submodule "bundle/minibufexpl.vim"]
	path = bundle/minibufexpl.vim
	url = git://github.com/vim-scripts/minibufexpl.vim.git
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/winmanager"]
	path = bundle/winmanager
	url = git://github.com/vim-scripts/winmanager.git
[submodule "bundle/vimim"]
	path = bundle/vimim
	url = https://github.com/vim-scripts/VimIM.git
